server:
  port: 8080

spring:
  redis:
    host: localhost
    port: 6379
    database: 0

langchain4j:
  ollama:
    chat-model:
      base-url: http://localhost:11434
      model-name: llama3.2:1b

